@layer components {
  .sidebar-pane {
    position: fixed;
    inset-block: var(--header-height) 0;
    inset-inline: 0;
    z-index: 40;
    display: flex;
    width: 100%;
    visibility: hidden;
    flex-direction: column;
    overflow-y: auto;
    background: var(--color-background);
    color: var(--color-sidebar-foreground);
  }

  starlight-menu-button[aria-expanded='true'] ~ .sidebar-pane {
    visibility: visible;
  }

  .sidebar-pane .sidebar-content {
    width: 100%;
    min-height: max-content;
    padding: 0.75rem 1rem 1.5rem;
  }

  .sidebar-pane .top-level {
    width: 100%;
  }

  .sidebar-pane summary {
    @apply flex px-2;
    @apply ring-sidebar-ring flex h-8 shrink-0 items-center rounded-md text-xs outline-hidden transition-[margin,opacity] duration-200 ease-linear focus-visible:ring-2 [&>svg]:size-4 [&>svg]:shrink-0 group-data-[collapsible=icon]:-mt-8 group-data-[collapsible=icon]:opacity-0 text-muted-foreground font-medium;
  }

  .sidebar-pane summary span {
    @apply ring-sidebar-ring flex h-8 shrink-0 items-center rounded-md text-xs outline-hidden transition-[margin,opacity] duration-200 ease-linear focus-visible:ring-2 [&>svg]:size-4 [&>svg]:shrink-0 group-data-[collapsible=icon]:-mt-8 group-data-[collapsible=icon]:opacity-0 text-muted-foreground font-medium;
  }

  .sidebar-pane details {
    @apply p-2;
  }

  .sidebar-pane details ul {
    @apply flex flex-col gap-0.5;
  }

  .sidebar-pane a {
    @apply h-7.5 flex items-center font-medium justify-between;
  }

  .sidebar-pane a span {
    @apply px-2 h-full rounded-sm flex items-center border-transparent text-[13px] leading-5;
  }

  .sidebar-pane a:hover span {
    @apply bg-muted border-muted;
  }

  .sidebar-pane a[aria-current='page'] span {
    @apply bg-accent border-accent;
  }

  :where(a)[aria-current='page'],
  :where(a)[aria-current='page']:hover,
  :where(a)[aria-current='page']:focus {
    background: transparent;
  }

  @media (min-width: 50rem) {
    .sidebar-pane {
      position: static;
      width: 100%;
      height: 100%;
      visibility: visible;
      overflow: visible;
      background: transparent;
    }

    .sidebar-pane .sidebar-content {
      padding: 1rem 0 3rem;
    }
  }
}
